section {
  scroll-margin-top: 80px;
}

@media (min-width: 992px) { /* Bootstrap's lg breakpoint */
  .nav-center-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}